
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>酒店管理系统</title>

    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="/public/css/dashboard.css" rel="stylesheet">-->
    <style>
        body{
            background: url(/public/images/bga6.jpg);
            background-size: cover;
        }
    </style>
</head>

<body>
<div class="container-fluid" style="background:rgba(255,255,255,0.5); padding:20px 40px; height:700px;">
    <div class="row">
        <div class="col-sm-12  col-md-12  main" >
            <h1 class="page-header">帝豪酒店欢迎您</h1>
            <div class="form col-lg-4" style="background:rgba(255,255,255,0.5); padding:20px;">
                <h4>修改密码 <a href="/" style="padding-right: 60px;">退出</a></h4>
                <form>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">账号</label>
                        <div class="col-sm-10">
                            <input type="text" id="username" class="form-control" >
                            <small>请输入自己的账号</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-10">
                            <input type="password" id="password" class="form-control">
                            <small>请输入新密码。</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button id="btn" type="button" class="btn btn-success">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/public/js/jquery-1.12.3.min.js"></script>
<script type="text/javascript">
    $("#btn").click(function(){
        $.post("/user/changmima",{
            "username" : $("#username").val(),
            "password" : $("#password").val()
        },function(data){
            if(data.result == 1){
                alert('修改密码成功');
                window.location = "/";
            }
        });
    });
</script>
</body>
</html>
