
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>酒店管理系统</title>

    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/dashboard.css" rel="stylesheet">
    <!-- FONT AWESOME ICONS  -->
    <link href="/public/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE  -->
    <link href="/public/css/style.css" rel="stylesheet" />
    <script type="text/javascript" src="/public/js/PageNav.js"></script>
    <script src="/public/js/jquery-1.12.3.min.js"></script>
    <style>
        body{
            background: url(/public/images/bgu2.jpg);
            background-size: cover;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">帝豪酒店欢迎您</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a>欢迎,<span id="username"><%= username %></span></a></li>
                <li><a href="/tuichu">退出登录</a></li>
            </ul>

        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/user">预定房间</a></li>
                <li class="active"><a href="/user/dingdanchaxun">订单查询</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">订单查询</h1>
            <div style="background:rgba(255,255,255,0.5); padding:20px;">
                <h3>用户<%= username %> 的订单：</h3>
                <table class="table" style="background:rgba(255,255,255,0.5);">
                    <thead>
                    <tr>
                        <th>订单号</th>
                        <th>房间号</th>
                        <th>房间类型</th>
                        <th>住房者</th>
                        <th>入住日期</th>
                        <th>离开日期</th>
                    </tr>
                    </thead>
                    <tbody id="tbody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    var username = $('#username').html();
    $.get("/user/dingdanchaxun/"+ username,function(data){
        console.log(data);
        $.each(data.results,function(i, n){
            //创建一个tr标签
            $tr = $("<tr></tr>");
            $("<td></td>").html(n._id).appendTo($tr);
            $("<td></td>").html(n.fangjianhao).appendTo($tr);
            $("<td></td>").html(n.fangjianleixing).appendTo($tr);
            $("<td></td>").html(n.xingming).appendTo($tr);
            $("<td></td>").html(n.startdate).appendTo($tr);
            $("<td></td>").html(n.enddate).appendTo($tr);
            //上树
            $tr.appendTo($("#tbody"));
        });
    });
</script>


</body>
</html>
